
<%- include("partials/header1"); -%>

<body>
  <div class="container2">
  <% if(content.length > 40 && img!=""){ %>
    
  
     <div class="title">
    <h1><%=title%></h1>
  </div>
  <div class="images1">
    
    <img src="/uploads/image/<%=img %>"/>


                </div>
                <div class="content">
                  <p><%=content%></p>
                </div>
        <% } %> 

        <% if(content.length > 40 && img==""){ %>
    
  
          <div class="title">
         <h1><%=title%></h1>
       </div>
      
                     <div class="content">
                       <p><%=content%></p>
                     </div>
             <% } %> 
            </div>             
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-621c69c5321a2225"></script>
   </body>       

<%- include("partials/footer1"); -%>
